@import "./www/public/share/css/reset.css";
body {
    max-width: 100vw;
    background-color: rgb(54, 54, 54);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

h1 {
    font-family: monospace;
    font-size: 6rem;
    text-shadow: blanchedalmond 1px 1px 1px;
    text-transform: uppercase;
    font-weight: bold;
}


/* h1::before {
    content: 'JSC07CO';
    opacity: 0.2;
    top: 1vh;
    left: 1.5rem;
    right: 1rem;
    position: absolute;
} */

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    text-align: center;
    max-width: 150px;
    width: 50vw;
    border-radius: 3rem;
    padding: 1rem;
    margin: 1rem;
    border: 6px groove;
    box-shadow: 3px 4px 7px black;
}

ul>:first-child {
    background-image: radial-gradient(ellipse closest-side at 20px 10px, rgb(255, 134, 134) 0%, rgb(238, 81, 81) 80%, red 100%);
    color: white;
}

ul>:nth-child(2) {
    background-image: radial-gradient(ellipse closest-side at 20px 10px, rgb(136, 136, 241) 0%, rgb(74, 74, 247) 80%, blue 100%);
    color: gold;
}

ul>:nth-child(3) {
    background-image: radial-gradient(ellipse closest-side at 20px 10px, rgb(66, 180, 66) 0%, rgb(14, 138, 14) 80%, green 100%);
    color: wheat;
}

a {
    font-weight: bold;
    display: block;
    width: 100%;
    text-decoration: none;
    color: inherit;
    background-color: none;
}

a:hover {
    text-transform: uppercase;
}