/*!     IMPORTS     */


/*       RESET      */

@import "../public/share/css/reset.css";

/*    COMPATIBILITY */

@import "../public/share/css/ios.css;";
@import "../public/share/css/firefox.css";
@import "../public/share/css/ie.css";

/*      FONTS       */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
body {
    font-family: "Roboto", sans-serif;
}


/*! DOCUMENT */

:root {
    --color-dark: black;
    --color-bright: white;
    --color-action: rgb(121, 98, 98);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* HEADER */

header {
    padding: 2rem 1rem 3rem;
    background-color: var(--color-dark);
    color: var(--color-bright);
    text-align: center;
}

header>h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

header>p {
    margin-top: 1rem;
    font-size: 0.8rem;
}


/* ARTICLE */

main {
    padding: 1rem 1rem 6rem;
}

article {
    display: flex;
    flex-direction: column;
}

h1 {
    order: 1;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    border-bottom: 1px solid black;
}

article>img {
    order: 2;
    width: 100vw;
    height: 40vh;
    background-image: url(https://source.unsplash.com/400x300/?womanface);
    margin-bottom: 1rem;
}

article>p {
    order: 3;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

form>fieldset>* {
    margin-top: 0.4rem;
}

label {
    display: block;
}

input,
textarea {
    width: 100%;
    line-height: 2rem;
    background-color: var(--color-action);
    border: none;
}

button {
    margin-top: 1rem;
    padding: 0.6rem;
    width: 25vw;
    background-color: var(--color-dark);
    color: var(--color-bright);
}